{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Log In
{% endblock title %}

{% block content %}
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}

        <button class="btn btn-success mt-4" type="submit">Log In</button>
    </form>

    <br>

    <a href="{% url 'password_reset' %}">Forgot Password?</a>
{% endblock content %}
