{% extends 'base.html' %}

{% block title %}
Password Reset Complete
{% endblock title %}

{% block content %}
    <h1>Password Reset Complete</h1>
    <p>
        Your new password has been set. You can log in now on the
        <a href="{% url 'login' %}">Log In page</a>.
    </p>
{% endblock content %}
