{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Enter New Password
{% endblock title %}

{% block content %}
    <h1>Set a new password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}

        <input class=" mt-4 btn btn-success" type="submit" value="Change Password">
    </form>
{% endblock content %}
