@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

button {
    outline: none !important;
}

h1, h2, h3, h4, h5, h6, #brand {
    font-family: 'Bitter', serif;
}

* {
    font-family: 'Raleway', sans-serif;
}

#brand {
    font-size: 20pt;
}
