{% extends 'base.html' %}

{% block content %}
    <div class="article-entry mb-5">
        <h2>{{ article.title }}</h2>
        <p class="mb-5">by {{ article.author }} | {{ article.date }}</p>
        <p>{{ article.body | linebreaksbr }}</p>
    </div>

    <p>
        <a href="{% url 'article_edit' article.pk %}">Edit</a> |
        <a href="{% url 'article_delete' article.pk %}">Delete</a>
    </p>

    <p>
        Back to <a href="{% url 'article_list' %}">All Articles</a>.
    </p>
{% endblock content %}
