{% extends 'base.html' %}

{% block title %}
Articles
{% endblock title %}

{% block content %}
    {% for article in article_list %}
        <div class="card mb-5">
            <div class="card-header">
                <span class="font-weight-bold">
                    <a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a>
                </span>
                &middot
                <span class="text-muted"> by {{ article.author }}
                    | {{ article.date }}</span>
            </div>

            <div class="card-body">
                <div class="mb-5">
                    {{ article.body | linebreaksbr }}
                </div>

                <button type="button" class="btn btn-primary btn-sm">
                    <a class="text-white" href="{% url 'article_edit' article.pk %}">Edit</a>
                </button>

                <button type="button" class="btn btn-danger btn-sm">
                    <a class="text-white" href="{% url 'article_delete' article.pk %}">Delete</a>
                </button>
            </div>

            <div class="card-footer">
                {% if article.comments.count %}
                    {% for comment in article.comments.all %}
                        <p>
                            <span class="font-weight-bold">
                                {{ comment.author }} &middot;
                            </span>
                            {{ comment }}
                        </p>
                    {% endfor %}
                {% else %}
                    <p class="font-weight-bold text-muted text-center">There are no comments.</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
