{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Newspaper App</h1>
        <p class="lead">A newspaper website built with Django.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg mt-3"
                    href="{% url 'article_list' %}" role="button">
                View All Articles
            </a>
        </p>
    </div>
{% endblock content %}
