{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="text-danger">Permission Denied</h1>
    <p>You don't have permissions to access this page.</p>
{% endblock content %}
